* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

.main-header:has(.secondary-menu) {
  display: grid;
  grid-template-rows: 1fr 0.5fr;
  background-color: #24255a;
  height: 5rem;
  width: 100%;
  position: relative;
  box-shadow: 0 0 4px #01070f;
  padding: 0;
}
.main-header:has(.secondary-menu) .menu-item.active {
  background-color: #01070f;
  box-shadow: 0 0 8px #020c1f;
}

.main-header {
  display: grid;
  height: 3rem;
  background-color: #24255a;
  position: relative;
  box-shadow: 0 0 4px #01070f;
  padding: 0.35rem;
}

.menu-logo {
  position: absolute;
  translate: 5rem 50rem;
}

body:has(.container-intro) .main-header {
  display: none;
}
body:has(.container-intro) .main-footer {
  display: none;
}

.secondary-menu {
  background-color: rgba(54, 89, 128, 0.7254901961);
  background-color: #01070f;
}

.secondary-menu-img {
  display: grid;
  transition: 0.5s;
  filter: brightness(0.7);
  cursor: pointer;
  position: relative;
}
.secondary-menu-img:hover {
  scale: 1.2;
  filter: brightness(1);
}
.secondary-menu-img span {
  display: grid;
  place-content: center;
  background-color: #991e1e;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  font-size: 0.8rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
  position: absolute;
  place-self: end end;
  translate: -1.1rem 0.25rem;
}

.container-secondary-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  position: relative;
}

.menu-item {
  padding-inline: 0.5rem;
  padding-top: 0.25rem;
  border-radius: 0.35rem 0.35rem 0 0;
}

a {
  color: white;
}

.button-signout {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.25rem;
  padding-inline: 0.5rem;
  border: none;
  border-radius: 0.15rem;
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  transition: 0.35s;
  cursor: pointer;
  background-color: #80679e;
  background-color: #01070f;
  box-shadow: 0 0 4px #01070f;
}
.button-signout:hover {
  background-color: #041d3f;
  background-color: #01070f;
  background-color: transparent;
}

.icon-box {
  display: flex;
  padding-top: 0.15rem;
  margin-right: 0.5rem;
  gap: 0.5rem;
  margin-block: 0.25rem;
}

.container-menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
}

.menu {
  display: flex;
  gap: 0.5rem;
}

.pokedex-wrap {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #151636;
  border: 2px solid #01070f;
  border-radius: 0.5rem;
  box-shadow: 0 0 8px #01070f;
  position: relative;
  width: 33rem;
  container-name: pokedex;
  container-type: inline-size;
  position: absolute;
  top: 3rem;
  right: 5rem;
  opacity: 1;
  transition: 1s;
  z-index: 1;
  z-index: 2;
}
@starting-style {
  .pokedex-wrap {
    opacity: 0;
    top: 0;
    right: 5rem;
  }
}
.pokedex-wrap .close-icon {
  background-color: transparent;
}

@media (width < 35rem) {
  .pokedex-wrap {
    width: clamp(50vw, 32rem, 80vw);
    overflow-y: auto;
    right: 2rem;
  }
}
.pokedex {
  display: grid;
  grid-template-columns: 0.35fr 1fr;
  width: 32rem;
  height: 18rem;
}
@container pokedex (max-width: 30rem) {
  .pokedex {
    width: clamp(50vw, 32rem, 80vw);
    grid-template-columns: 1fr;
  }
}

.pokedex-pokemon-wrapper {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@container pokedex (max-width: 30rem) {
  .pokedex-pokemon-wrapper {
    grid-row: 1;
    grid-column: 1;
    grid-template-columns: 1fr;
  }
}

.pokedex-pokemon {
  grid-column: 2;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-auto-rows: min-content;
  background-color: rgba(10, 34, 79, 0.5);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  gap: 0.5rem;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.5rem;
}
.pokedex-pokemon img {
  grid-column: 1;
}
.pokedex-pokemon .pokedex-pokemon-info {
  grid-column: 2;
  color: white;
}

.pokedex-location {
  place-self: start start;
  grid-column: span 2;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  gap: 0.5rem;
  background-color: rgb(255, 192, 74);
  background-color: rgba(122, 132, 186, 0.3);
  box-shadow: 0 0 4px rgba(49, 49, 49, 0.808);
  padding: 0.25rem;
  padding-inline: 0.5rem;
  color: white;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.5) transparent;
}

.pokedex-list {
  grid-row: 1;
  grid-column: 1;
  margin: 1rem;
  margin-top: 0;
  width: -moz-max-content;
  width: max-content;
  overflow-y: scroll;
}
.pokedex-list::-webkit-scrollbar {
  width: 0.5rem;
}
.pokedex-list::-webkit-scrollbar-thumb {
  background-color: rgba(76, 88, 151, 0.5);
}
.pokedex-list::-webkit-scrollbar-thumb:hover {
  background-color: #4c5897;
}
.pokedex-list li {
  color: white;
  cursor: pointer;
}
@container pokedex (max-width: 30rem) {
  .pokedex-list {
    grid-row: 2;
    width: 100%;
    height: 10rem;
    background-color: #042a5d;
    margin: 0;
  }
}

.pokedex-menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  background-color: rgba(2, 20, 44, 0.7);
}
.pokedex-menu h2 {
  grid-column: 2;
  display: flex;
  width: 100%;
  justify-content: center;
  color: white;
  margin-bottom: 0.5rem;
}
@container pokedex (max-width: 30rem) {
  .pokedex-menu {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  .pokedex-menu h2 {
    grid-column: 1;
    grid-row: 1;
  }
  .pokedex-menu .pokedex-search-bar {
    grid-row: 2;
    margin: 0;
    padding-inline: 1rem;
  }
}

.pokedex-search-bar {
  grid-column: 1;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  width: 100%;
  height: 100%;
  place-items: center;
  margin-left: 1rem;
}
.pokedex-search-bar select {
  width: 100%;
  height: 70%;
}
.pokedex-search-bar input {
  width: 100%;
  height: 70%;
}

.evolution-chain {
  place-self: start;
  display: flex;
}
.evolution-chain li {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.evolution-chain .arrow {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  place-items: center;
}
.evolution-chain .arrow span {
  font-size: 0.7rem;
  font-weight: bold;
  position: absolute;
}

.base-info-types {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}
.base-info-types li {
  display: grid;
  width: 50%;
  place-items: center;
}

.container-message {
  display: grid;
  color: white;
  background-color: #0a224f;
  grid-auto-rows: min-content;
  width: 32rem;
  height: 20rem;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.35rem;
  position: absolute;
  top: 3rem;
  right: 5rem;
  opacity: 1;
  transition: 1s;
  z-index: 1;
  overflow: hidden;
  z-index: 2;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
@starting-style {
  .container-message {
    opacity: 0;
    top: 0;
    right: 5rem;
  }
}
.container-message .close-icon {
  background-color: transparent;
  margin: 0;
  top: 0.25rem;
  right: 0.25rem;
  background-color: rgba(255, 255, 255, 0.2);
}

.message-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 1.5rem;
}
.message-header h3 {
  grid-column: 2;
  place-self: start center;
}

.message-navigation {
  grid-column: 1;
  grid-row: 1;
  background-color: #000000;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 0.35rem;
  z-index: 1;
}

.message-menu {
  height: 1.4rem;
  cursor: pointer;
  transition: height 0.35s;
  overflow: hidden;
}
.message-menu li {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding-inline: 0.35rem;
  align-items: center;
  position: relative;
}
.message-menu:has(.open) {
  height: 6.5rem;
}

.menu-icon {
  display: grid;
  height: 1.25rem;
  width: 1.25rem;
  position: relative;
  transition: 0.5s;
}
.menu-icon.open {
  rotate: -225deg;
}

.menu-icon-item {
  width: 80%;
  height: 0.15rem;
  border-radius: 0.25rem;
  background-color: white;
  position: absolute;
}
.menu-icon-item.left-item {
  rotate: 90deg;
  place-self: center;
}
.menu-icon-item.right-item {
  rotate: 180deg;
  place-self: center;
}

.container-message-list {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 1rem;
  position: relative;
}
.container-message-list .loader-primary {
  grid-column: 2;
  place-self: center;
}

.message-list {
  grid-column: 1;
  display: grid;
  place-self: start start;
  width: 8rem;
  max-height: 15rem;
  overflow-y: scroll;
}
.message-list::-webkit-scrollbar {
  width: 0.5rem;
}
.message-list::-webkit-scrollbar-thumb {
  background-color: rgba(76, 88, 151, 0.5);
}
.message-list::-webkit-scrollbar-thumb:hover {
  background-color: #4c5897;
}
.message-list::-webkit-scrollbar {
  width: 0.25rem;
}

.message-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-block: 0.25rem;
  padding-right: 0.25rem;
}
.message-list-item::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0;
  z-index: -1;
  transition: 0.35s;
}
.message-list-item.read::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #101010;
  z-index: -1;
}
.message-list-item span {
  margin-left: 0.25rem;
}

.message-detail {
  grid-column: 2;
  display: grid;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #02142c;
  position: absolute;
  padding: 1rem;
  opacity: 1;
  translate: 0 0;
  transition: 0.5s;
}
@starting-style {
  .message-detail {
    opacity: 0;
    translate: 10rem 0;
  }
}
.message-detail .button-primary {
  font-size: 0.8rem;
  place-self: end end;
  background-color: #c45f5f;
}
.message-detail .button-primary:hover {
  background-color: #991e1e;
}

.message-detail-header {
  margin-bottom: 1rem;
}
.message-detail-header h2 {
  font-size: 1rem;
}
.message-detail-header span {
  font-size: 0.9rem;
}

.message-text {
  margin-bottom: 0.5rem;
}

.message-item {
  display: flex;
  justify-content: space-between;
  padding-inline: 0.5rem;
}
.message-item img {
  filter: brightness(1);
  transition: 0.3s;
  cursor: pointer;
}
.message-item img:hover {
  transition: 0.5s;
  filter: invert(47%) sepia(9%) saturate(2827%) hue-rotate(87deg) brightness(112%) contrast(98%);
  scale: 1.2;
}

.bag {
  display: grid;
  position: relative;
  width: 15rem;
  height: 20rem;
  border-radius: 0.35rem;
  grid-template-rows: 1.75rem 1fr;
  background-color: #151636;
  color: white;
  position: absolute;
  top: 3rem;
  right: 5rem;
  opacity: 1;
  transition: 1s;
  z-index: 1;
  z-index: 2;
}
@starting-style {
  .bag {
    opacity: 0;
    top: 0;
    right: 5rem;
  }
}
.bag .bag-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 0.25rem;
  margin-inline: 0.5rem;
}
.bag .bag-cell {
  background-color: rgba(36, 37, 90, 0.6);
  border-radius: 0.3rem;
}
.bag ul {
  width: 100%;
}
.bag h3 {
  place-self: start center;
  height: -moz-fit-content;
  height: fit-content;
}
.bag .close-icon {
  background-color: transparent;
}

.bag-item {
  display: grid;
  place-items: center;
  height: 100%;
  gap: 0.5rem;
  color: white;
  padding-inline: 0.5rem;
  transition: 0.4s;
  cursor: pointer;
  position: relative;
  border-radius: 0.3rem;
}
.bag-item:hover {
  background-color: rgba(76, 88, 151, 0.6);
  background-color: rgba(242, 84, 31, 0.6);
}
.bag-item span {
  position: absolute;
  font-size: 0.6rem;
  font-weight: bold;
  margin-inline: 0.25rem;
  place-self: end end;
}
.bag-item .bag-item-image {
  position: absolute;
}
.bag-item.useable {
  background-color: rgb(54, 105, 97);
}
.bag-item.useable:hover {
  background-color: rgba(11, 202, 129, 0.6);
}

.bag-coins {
  position: absolute;
  place-self: end end;
  margin: 0.25rem;
}

.close-icon {
  position: absolute;
  place-self: start end;
  cursor: pointer;
  transition: 0.5s;
  margin: 0.25rem;
  z-index: 1;
  background-color: transparent;
}
.close-icon:hover {
  filter: invert(32%) sepia(21%) saturate(3436%) hue-rotate(327deg) brightness(117%) contrast(86%);
}

.menu-map {
  display: grid;
  place-items: center;
  width: 32rem;
  height: 18rem;
  grid-template-columns: repeat(64, 1fr);
  grid-template-rows: repeat(36, 1fr);
  background-color: #24255a;
  border: 2px solid #01070f;
  border-radius: 0.5rem;
  box-shadow: 0 0 8px #01070f;
  position: absolute;
  top: 3rem;
  right: 5rem;
  opacity: 1;
  transition: 1s;
  z-index: 1;
  z-index: 2;
}
@starting-style {
  .menu-map {
    opacity: 0;
    top: 0;
    right: 5rem;
  }
}
.menu-map img {
  display: flex;
  padding: 0.15rem;
  border-radius: 0.5rem;
}
.menu-map .close-icon {
  background-color: #991e1e;
  transition: background-color 0s;
}
.menu-map .close-icon:hover {
  transition: background-color 0s;
  background-color: rgba(153, 30, 30, 0.1764705882);
}

@media (width < 38rem) {
  .menu-map {
    width: 20.8rem;
    height: 11.7rem;
    right: 1rem;
  }
}
.map-item {
  position: relative;
  width: 150%;
  height: 150%;
  background-color: rgb(133, 36, 36);
  border-radius: 0.25rem;
  border: 1px solid white;
  cursor: pointer;
}
.map-item span {
  padding-inline: 0.25rem;
  width: -moz-max-content;
  width: max-content;
  z-index: 1;
}
.map-item:hover .tag {
  display: flex;
}
.map-item.active {
  background-color: rgb(224, 102, 102);
}
.map-item.first {
  left: 0.25rem;
  grid-column: 44;
  grid-row: 27;
}
.map-item.second {
  right: 0.25rem;
  grid-column: 40;
  grid-row: 25;
}
.map-item.third {
  grid-column: 29;
  grid-row: 28;
}
.map-item.fourth {
  grid-column: 29;
  grid-row: 31;
}
.map-item.fiveth {
  top: -0.25rem;
  grid-column: 31;
  grid-row: 24;
}
.map-item.sixth {
  left: 0.25rem;
  grid-column: 29;
  grid-row: 21;
}
.map-item.seventh {
  grid-column: 25;
  grid-row: 19;
}
.map-item.eigth {
  left: 0.25rem;
  grid-column: 18;
  grid-row: 19;
}
.map-item.ninth {
  grid-column: 16;
  grid-row: 23;
}
.map-item.tenth {
  grid-column: 13;
  grid-row: 17;
}
.map-item.eleventh {
  grid-column: 10;
  grid-row: 12;
}
.map-item.twelfth {
  grid-column: 23;
  grid-row: 9;
}
.map-item.thirteenth {
  grid-column: 28;
  grid-row: 13;
}
.map-item.fourteenth {
  grid-column: 34;
  grid-row: 11;
}
.map-item.fifteenth {
  left: 0.25rem;
  grid-column: 38;
  grid-row: 6;
}
.map-item.sixteenth {
  grid-column: 45;
  grid-row: 7;
}
.map-item.seventeenth {
  grid-column: 38;
  grid-row: 15;
}
.map-item.eighteenth {
  right: 0.25rem;
  top: -0.25rem;
  grid-column: 46;
  grid-row: 16;
}
.map-item.nineteenth {
  top: 0.25rem;
  grid-column: 44;
  grid-row: 14;
}
.map-item.twentieth {
  grid-column: 49;
  grid-row: 21;
}
.map-item.twenty-first {
  grid-column: 56;
  grid-row: 27;
}
.map-item.twenty-second {
  grid-column: 51;
  grid-row: 14;
}
.map-item.twenty-third {
  grid-column: 40;
  grid-row: 20;
}
.map-item.twenty-fourth {
  grid-area: 14/24;
}
.map-item.twenty-fifth {
  top: 0.3rem;
  right: 0.15rem;
  grid-area: 31/23;
}

.tag {
  display: none;
  color: white;
  background-color: rgba(10, 34, 79, 0.7);
  position: absolute;
  top: -0.2rem;
  left: 0.75rem;
  transition: 0.3s;
  opacity: 1;
  translate: 0 0;
}
@starting-style {
  .tag {
    opacity: 0;
    translate: 0.5rem -0.5rem;
  }
}/*# sourceMappingURL=menu.css.map */