@import "../../assets/styles/addons/variables",
  "../../assets/styles/addons/mixins";

@include set-up;

@mixin menu-mixin {
  position: absolute;
  top: 3rem;
  right: 5rem;
  opacity: 1;
  transition: 1s;
  z-index: 1;
  @starting-style {
    opacity: 0;
    top: 0;
    right: 5rem;
  }
}

$dark-violet: #24255a;
$blue-one: #02142c;
$light-blue: #0a224f;
$darker-blue: #01070f;

header:has(.secondary-menu) {
  display: grid;
  grid-template-rows: 1fr 0.5fr;
  background-color: $dark-violet;
  height: 5rem;
  width: 100%;
  position: relative;
  box-shadow: 0 0 4px $darker-blue;
}

header {
  display: grid;
  height: 4rem;
  background-color: $dark-violet;
  position: relative;
  margin-bottom: 1rem;
  box-shadow: 0 0 4px $darker-blue;
}

.secondary-menu {
  background-color: #365980b9;
  background-color: $darker-blue;
}

.secondary-menu-img {
  transition: 0.5s;
  filter: brightness(0.7);
  cursor: pointer;
  &:hover {
    scale: 1.2;
    filter: brightness(1.2);
  }
}

.container-secondary-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  position: relative;
}

.icon-box {
  display: flex;
  padding-top: 0.15rem;
  margin-right: 0.5rem;
  gap: 0.5rem;
}

.container-menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
}

.menu {
  display: flex;
  gap: 0.5rem;
}

.pokedex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 32rem;
  height: 18rem;
  background-color: darken($dark-violet, 10);
  border: 2px solid $darker-blue;
  border-radius: 0.5rem;
  box-shadow: 0 0 8px $darker-blue;
  @include menu-mixin;
  overflow-y: scroll;
  ul {
    grid-row: 1;
    grid-column: 1;
    margin: 1rem;
  }
  img {
    grid-column: 2;
  }
  .pokedex-item {
    color: white;
    cursor: pointer;
  }
}

.container-contacts {
  display: grid;
  grid-template-rows: 1fr 0.5fr;
  color: white;
  background-color: $light-blue;
  width: 15rem;
  height: 20rem;
  @include menu-mixin;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  ul {
    width: 100%;
  }
}

.call {
  background-color: rgba($pale-indigo, 0.3);
  border: 2px solid $darker-blue;
}
.contact-item {
  display: flex;
  justify-content: space-between;
  padding-inline: 0.5rem;
  img {
    filter: brightness(1);
    transition: 0.3s;
    cursor: pointer;
  }
  img:hover {
    transition: 0.5s;
    filter: invert(47%) sepia(9%) saturate(2827%) hue-rotate(87deg)
      brightness(112%) contrast(98%);
    scale: 1.2;
  }
}

.bag {
  display: grid;
  width: 15rem;
  height: 20rem;
  background-color: darken($dark-violet, 10);
  color: white;
  @include menu-mixin;
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  ul {
    width: 100%;
  }
}

.bag-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: white;
  padding-inline: 0.5rem;
  transition: 0.4s;
  cursor: pointer;
  &:hover {
    background-color: rgba($pale-indigo, 0.6);
  }
}

.menu-map {
  display: grid;
  place-items: center;
  width: 32rem;
  height: 18rem;
  grid-template-columns: repeat(64, 1fr);
  grid-template-rows: repeat(36, 1fr);
  background-color: $dark-violet;
  border: 2px solid $darker-blue;
  border-radius: 0.5rem;
  box-shadow: 0 0 8px $darker-blue;
  @include menu-mixin;
  img {
    display: flex;
    padding: 0.15rem;
    border-radius: 0.5rem;
  }
}

.map-item {
  position: relative;
  width: 150%;
  height: 150%;
  background-color: rgb(133, 36, 36);
  border-radius: 0.25rem;
  border: 1px solid white;
  cursor: pointer;
  z-index: 1;
  &:hover .tag {
    display: flex;
  }
  &.active {
    background-color: rgb(224, 102, 102);
  }
  &.first {
    left: 0.25rem;
    grid-column: 44;
    grid-row: 27;
  }
  &.second {
    right: 0.25rem;
    grid-column: 40;
    grid-row: 25;
  }
  &.third {
    grid-column: 29;
    grid-row: 28;
  }
  &.fourth {
    grid-column: 29;
    grid-row: 31;
  }
  &.fiveth {
    top: -0.25rem;
    grid-column: 31;
    grid-row: 24;
  }
  &.sixth {
    left: 0.25rem;
    grid-column: 29;
    grid-row: 21;
  }
  &.seventh {
    grid-column: 25;
    grid-row: 19;
  }
  &.eigth {
    left: 0.25rem;
    grid-column: 18;
    grid-row: 19;
  }
  &.ninth {
    grid-column: 16;
    grid-row: 23;
  }
  &.tenth {
    grid-column: 13;
    grid-row: 17;
  }
  &.eleventh {
    grid-column: 10;
    grid-row: 12;
  }
  &.twelfth {
    grid-column: 23;
    grid-row: 9;
  }
  &.thirteenth {
    grid-column: 28;
    grid-row: 13;
  }
  &.fourteenth {
    grid-column: 34;
    grid-row: 11;
  }
  &.fifteenth {
    left: 0.25rem;
    grid-column: 38;
    grid-row: 6;
  }
  &.sixteenth {
    grid-column: 45;
    grid-row: 7;
  }
  &.seventeenth {
    grid-column: 38;
    grid-row: 15;
  }
  &.eighteenth {
    right: 0.25rem;
    top: -0.25rem;
    grid-column: 46;
    grid-row: 16;
  }
  &.nineteenth {
    top: 0.25rem;
    grid-column: 44;
    grid-row: 14;
  }
  &.twentieth {
    grid-column: 49;
    grid-row: 21;
  }
}

.menu-item {
  padding-inline: 0.5rem;
  padding-top: 0.25rem;
  border-radius: 0.35rem 0.35rem 0 0;
}

.menu-item.active {
  background-color: $darker-blue;
  box-shadow: 0 0 8px #020c1f;
}

a {
  color: white;
}

.button-signout {
  @include button-clasic;
  background-color: darken($new-light, 20);
  background-color: $darker-blue;
  box-shadow: 0 0 4px $darker-blue;
  &:hover {
    background-color: lighten($color: $darker-blue, $amount: 10);
    background-color: $darker-blue;
    background-color: transparent;
  }
}

.tag {
  display: none;
  color: white;
  background-color: rgba($light-blue, 0.7);
  position: absolute;
  top: 0.5rem;
}
