@import "../../assets/styles/addons/variables",
  "../../assets/styles/addons/mixins";

.container-map {
  display: grid;
  //max-width: 80rem;
  width: fit-content;
  margin: 0 auto;
  position: relative;
  h3 {
    font-size: 1.75rem;
    color: white;
  }
  h2 {
    bottom: 10%;
    place-self: end center;
    position: absolute;
    color: white;
    text-transform: capitalize;
    font-size: 1.75rem;
    background-color: rgba($blue-one, 0.5);
    padding: 0.5rem;
    padding-inline: 1.5rem;
    box-shadow: 0 0 8px rgba(245, 245, 245, 0.425);
    border-radius: 0.15rem;
  }
  img {
    max-width: 100%;
    width: 165vh;
    height: auto;
    aspect-ratio: 16/9;
  }
}

.map-menu {
  display: flex;
  flex-direction: column;
  background-color: rgba($primary-bgc, 0.85);
  background-color: rgba($darker-blue, 1);
  background-color: rgba(darken($color: $dark-violet, $amount: 10), 0.9);
  border-radius: 0.5rem;
  color: white;
  width: 30%;
  aspect-ratio: 3/2;
  min-width: 15rem;
  min-height: 10rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  li {
    text-transform: capitalize;
    cursor: pointer;
    &:hover {
      background-color: rgba(rgb(255, 255, 255), 0.2);
    }
  }

  .menu-navigation {
    display: flex;
    background-color: $pale-indigo;
    ul {
      display: grid;
      grid-template-columns: repeat(5, minmax(max-content, 1fr));
      width: 100%;
    }
    @media (width < 60rem) {
      ul {
        grid-template-columns: repeat(3, minmax(max-content, 1fr));
      }
    }
    li {
      display: flex;
      justify-content: center;
      width: 100%;
      padding-inline: 0.5rem;
      padding-block: 0.25rem;
    }
  }

  .box {
    height: 100%;
    width: 100%;
    @include scroll-primary;
  }
}

.map-menu-section {
  padding-inline: 1rem;
  h3 {
    font-size: 1.5rem;
  }
}

.map-error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  gap: 1rem;
  position: absolute;
  place-self: center;
  background-color: darken($dark-violet, 10);
  box-shadow: 0 0 8px $darker-blue;
  color: white;
  transition: 0.5s;
  opacity: 1;
  translate: 0 0;
  @starting-style {
    opacity: 0;
    translate: 0 5rem;
  }
}

.loader-pika {
  display: flex;
  flex-direction: column;
  width: 80;
  justify-content: center;
  align-items: center;
  position: absolute;
  place-self: center;
  .loader-background {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url("https://cdn.midjourney.com/f0d6e775-1558-4049-b329-3ba36cde0011/0_1.png");
    background-position: bottom left;
    height: 20em;
    width: 40em;
    position: relative;
    animation: translateBg 5s linear infinite;
    overflow: hidden;
    border-radius: 2em;
    box-shadow: 0 0 10px black;
    span {
      font-size: 2.5em;
      color: white;
      text-shadow: 0 0 5px black;
      position: absolute;
      z-index: 2;
    }
    img {
      width: 40%;
      height: auto;
      position: absolute;
      z-index: 1;
      animation: run 5s ease infinite;
    }
  }
}

.container-location {
  @include scroll-primary;
}

@keyframes run {
  from {
    transform: translateX(-150%);
  }
  to {
    transform: translateX(180%);
  }
}

@keyframes translateBg {
  from {
    background-position: left bottom;
  }
  to {
    background-position: right bottom;
  }
}

.container-npc {
  display: grid;
  position: absolute;
  height: 75%;
  width: 50%;

  padding: 0.5rem;
  place-self: center;
  img {
    position: absolute;
    place-self: end end;
    width: 30%;
    aspect-ratio: 1/2;
    bottom: -5rem;
    right: -5rem;
  }
}

.box-npc {
  display: grid;
  background-color: rgba($blue-one, 1);
  color: white;
  box-shadow: 0 0 5px $darker-blue;
  @include scroll-primary;
  max-height: 100%;
  article {
    font-size: 1rem;
    padding: 1rem;
    padding-right: 15%;
  }
  button {
    place-self: center;
  }
}

.routes-list {
  li {
    padding: 0.5rem;
  }
}
