.container-map {
  display: grid;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  position: relative;
}
.container-map h3 {
  font-size: 1.75rem;
  color: white;
}
.container-map h2 {
  bottom: 10%;
  place-self: end center;
  position: absolute;
  color: white;
  text-transform: capitalize;
  font-size: 1.75rem;
  background-color: rgba(2, 20, 44, 0.5);
  padding: 0.5rem;
  padding-inline: 1.5rem;
  box-shadow: 0 0 8px rgba(245, 245, 245, 0.425);
  border-radius: 0.15rem;
}
.container-map .main-image {
  max-width: 100%;
  width: 165vh;
  height: auto;
  min-width: 800px;
  min-height: 450px;
  aspect-ratio: 16/9;
  opacity: 1;
  transition: 0.5s;
}
@starting-style {
  .container-map .main-image {
    opacity: 0;
  }
}

.map-menu {
  display: flex;
  flex-direction: column;
  background-color: rgba(21, 22, 54, 0.9);
  border-radius: 0.5rem;
  color: white;
  width: 35%;
  aspect-ratio: 3/2;
  min-width: 15rem;
  min-height: 10rem;
  max-height: 30rem;
  box-shadow: 0 0 10px #24255a;
  position: absolute;
  place-self: center center;
  container-name: map-menu;
  container-type: inline-size;
}
.map-menu .item {
  text-transform: capitalize;
  cursor: pointer;
}
.map-menu .item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.map-menu .menu-navigation {
  display: flex;
  background-color: #4c5897;
  border-radius: 0.35rem 0.35rem 0 0;
  container-name: menu-navigation;
  container-type: inline-size;
  height: 2rem;
  overflow: hidden;
}
@container map-menu (width < 380px) {
  .map-menu .menu-navigation {
    height: 5rem;
  }
}
.map-menu .menu-navigation ul {
  display: grid;
  grid-template-columns: repeat(5, minmax(max-content, 1fr));
  width: 100%;
}
@container (width < 380px) {
  .map-menu .menu-navigation ul {
    grid-template-columns: repeat(3, minmax(max-content, 1fr));
  }
}
.map-menu .menu-navigation li {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-inline: 0.5rem;
  padding-block: 0.25rem;
}

.box {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
.box::-webkit-scrollbar {
  width: 0.5rem;
}
.box::-webkit-scrollbar-thumb {
  background-color: rgba(76, 88, 151, 0.5);
}
.box::-webkit-scrollbar-thumb:hover {
  background-color: #4c5897;
}

.map-menu-section {
  padding-inline: 1rem;
}
.map-menu-section h3 {
  font-size: 1.5rem;
}

.map-error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  gap: 1rem;
  position: absolute;
  place-self: center;
  background-color: #151636;
  box-shadow: 0 0 8px #01070f;
  color: white;
  transition: 0.5s;
  opacity: 1;
  translate: 0 0;
}
@starting-style {
  .map-error {
    opacity: 0;
    translate: 0 5rem;
  }
}

.loader-pika {
  display: flex;
  flex-direction: column;
  width: 80;
  justify-content: center;
  align-items: center;
  position: absolute;
  place-self: center;
}
.loader-pika .loader-background {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url("https://cdn.midjourney.com/f0d6e775-1558-4049-b329-3ba36cde0011/0_1.png");
  background-position: bottom left;
  height: 20em;
  width: 40em;
  position: relative;
  animation: translateBg 5s linear infinite;
  overflow: hidden;
  border-radius: 2em;
  box-shadow: 0 0 10px black;
}
.loader-pika .loader-background span {
  font-size: 2.5em;
  color: white;
  text-shadow: 0 0 5px black;
  position: absolute;
  z-index: 2;
}
.loader-pika .loader-background img {
  width: 40%;
  height: auto;
  position: absolute;
  z-index: 1;
  animation: run 5s ease infinite;
}

.container-location {
  display: grid;
  overflow-y: scroll;
  margin-top: 0.5rem;
  margin-inline: 1rem;
}
.container-location::-webkit-scrollbar {
  width: 0.5rem;
}
.container-location::-webkit-scrollbar-thumb {
  background-color: rgba(76, 88, 151, 0.5);
}
.container-location::-webkit-scrollbar-thumb:hover {
  background-color: #4c5897;
}

@keyframes run {
  from {
    transform: translateX(-150%);
  }
  to {
    transform: translateX(180%);
  }
}
@keyframes translateBg {
  from {
    background-position: left bottom;
  }
  to {
    background-position: right bottom;
  }
}
.container-npc {
  display: grid;
  position: absolute;
  height: 75%;
  width: 50%;
  padding: 0.5rem;
  place-self: center;
}

.npc-image {
  position: absolute;
  place-self: end end;
  max-height: 80%;
  width: auto;
  aspect-ratio: 1/2;
  bottom: -5rem;
  right: -5rem;
}

.box-npc {
  display: grid;
  background-color: #02142c;
  color: white;
  box-shadow: 0 0 5px #01070f;
  overflow-y: scroll;
  max-height: 100%;
}
.box-npc::-webkit-scrollbar {
  width: 0.5rem;
}
.box-npc::-webkit-scrollbar-thumb {
  background-color: rgba(76, 88, 151, 0.5);
}
.box-npc::-webkit-scrollbar-thumb:hover {
  background-color: #4c5897;
}
.box-npc article {
  font-size: 1rem;
  padding: 1rem;
  padding-right: 15%;
}
.box-npc button {
  place-self: center;
}

.npc-item {
  display: flex;
  padding-inline: 1rem;
  align-items: center;
  justify-content: space-between;
}
.npc-item img {
  height: 1rem;
  width: 1rem;
}

.routes-list li {
  padding: 0.5rem;
  cursor: pointer;
}

.about-enemy-pokemons {
  display: grid;
  gap: 0.5rem;
}
.about-enemy-pokemons h3 {
  font-size: 1.5rem;
  place-self: center;
}
.about-enemy-pokemons img {
  aspect-ratio: 1/1;
  place-self: end center;
}
.about-enemy-pokemons ul {
  display: grid;
  grid-template-columns: 1fr;
}
.about-enemy-pokemons li {
  display: grid;
  grid-template-columns: max-content 1fr;
}
.about-enemy-pokemons span {
  place-self: end;
  font-size: 2rem;
}
.about-enemy-pokemons div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
}
.about-enemy-pokemons .button-primary {
  place-self: center;
}

.poke-centrum {
  display: grid;
  grid-template-columns: minmax(min-content, 1fr) 2fr;
  height: 100%;
  width: 100%;
  position: relative;
  padding-top: 1rem;
}
.poke-centrum article {
  grid-column: 2;
  padding: 0.5rem;
  margin-top: 1rem;
  place-self: start start;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgba(85, 85, 85, 0.6);
  background-color: rgba(76, 88, 151, 0.4196078431);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(61, 61, 61, 0.52), 0 4px 4px rgba(0, 0, 0, 0.52), 0 8px 8px rgba(0, 0, 0, 0.52);
}
.poke-centrum h2 {
  position: relative;
  padding: 0;
  top: 0;
  background-color: transparent;
  box-shadow: none;
  place-self: start center;
  font-weight: bold;
  font-size: 1rem;
}

.nurse {
  grid-column: 1;
  place-self: start end;
  height: 80%;
  max-height: 400px;
  width: auto;
  aspect-ratio: 1/2;
  filter: drop-shadow(0 0 2px rgb(80, 80, 80));
}

@media (width < 80rem) {
  .nurse {
    display: none;
  }
  .poke-centrum article {
    grid-column: span 2;
    width: 90%;
    margin: 0 auto;
    margin-top: 1rem;
  }
}
.heart-beat {
  grid-column: 2;
  position: absolute;
  place-self: center start;
}
@media (width < 80rem) {
  .heart-beat {
    grid-column: span 2;
    display: flex;
    width: 100%;
    justify-content: center;
  }
}

.heart-beat svg polyline {
  fill: none;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.heart-beat svg polyline#back {
  fill: none;
  stroke: rgba(255, 77, 80, 0.1098039216);
}

.heart-beat svg polyline#front {
  fill: none;
  stroke: #ff4d4f;
  stroke-dasharray: 64, 192;
  stroke-dashoffset: 256;
  animation: dash_682 1.4s linear infinite;
}

@keyframes dash_682 {
  72.5% {
    opacity: 0;
  }
  to {
    stroke-dashoffset: 0;
  }
}/*# sourceMappingURL=map.css.map */