.container-map {
  display: grid;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  position: relative;
}
.container-map h3 {
  font-size: 1.75rem;
  color: white;
}
.container-map h2 {
  bottom: 10%;
  place-self: end center;
  position: absolute;
  color: white;
  text-transform: capitalize;
  font-size: 1.75rem;
  background-color: rgba(2, 20, 44, 0.5);
  padding: 0.5rem;
  padding-inline: 1.5rem;
  box-shadow: 0 0 8px rgba(245, 245, 245, 0.425);
  border-radius: 0.15rem;
}
.container-map img {
  max-width: 100%;
  width: 165vh;
  height: auto;
  aspect-ratio: 16/9;
}

.map-menu {
  display: flex;
  flex-direction: column;
  background-color: rgba(21, 22, 54, 0.9);
  border-radius: 0.5rem;
  color: white;
  width: 35%;
  aspect-ratio: 3/2;
  min-width: 15rem;
  min-height: 10rem;
  box-shadow: 0 0 10px #24255a;
  position: absolute;
  place-self: center center;
}
.map-menu li {
  text-transform: capitalize;
  cursor: pointer;
}
.map-menu li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.map-menu .menu-navigation {
  display: flex;
  background-color: #4c5897;
}
.map-menu .menu-navigation ul {
  display: grid;
  grid-template-columns: repeat(5, minmax(max-content, 1fr));
  width: 100%;
}
@media (width < 60rem) {
  .map-menu .menu-navigation ul {
    grid-template-columns: repeat(3, minmax(max-content, 1fr));
  }
}
.map-menu .menu-navigation li {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-inline: 0.5rem;
  padding-block: 0.25rem;
}
.map-menu .box {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
.map-menu .box::-webkit-scrollbar {
  width: 0.5rem;
}
.map-menu .box::-webkit-scrollbar-thumb {
  background-color: rgba(76, 88, 151, 0.5);
}
.map-menu .box::-webkit-scrollbar-thumb:hover {
  background-color: #4c5897;
}

.map-menu-section {
  padding-inline: 1rem;
}
.map-menu-section h3 {
  font-size: 1.5rem;
}

.map-error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  gap: 1rem;
  position: absolute;
  place-self: center;
  background-color: #151636;
  box-shadow: 0 0 8px #01070f;
  color: white;
  transition: 0.5s;
  opacity: 1;
  translate: 0 0;
}
@starting-style {
  .map-error {
    opacity: 0;
    translate: 0 5rem;
  }
}

.loader-pika {
  display: flex;
  flex-direction: column;
  width: 80;
  justify-content: center;
  align-items: center;
  position: absolute;
  place-self: center;
}
.loader-pika .loader-background {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-image: url("https://cdn.midjourney.com/f0d6e775-1558-4049-b329-3ba36cde0011/0_1.png");
  background-position: bottom left;
  height: 20em;
  width: 40em;
  position: relative;
  animation: translateBg 5s linear infinite;
  overflow: hidden;
  border-radius: 2em;
  box-shadow: 0 0 10px black;
}
.loader-pika .loader-background span {
  font-size: 2.5em;
  color: white;
  text-shadow: 0 0 5px black;
  position: absolute;
  z-index: 2;
}
.loader-pika .loader-background img {
  width: 40%;
  height: auto;
  position: absolute;
  z-index: 1;
  animation: run 5s ease infinite;
}

.container-location {
  display: grid;
  overflow-y: scroll;
  margin-top: 0.5rem;
  margin-inline: 1rem;
}
.container-location::-webkit-scrollbar {
  width: 0.5rem;
}
.container-location::-webkit-scrollbar-thumb {
  background-color: rgba(76, 88, 151, 0.5);
}
.container-location::-webkit-scrollbar-thumb:hover {
  background-color: #4c5897;
}

@keyframes run {
  from {
    transform: translateX(-150%);
  }
  to {
    transform: translateX(180%);
  }
}
@keyframes translateBg {
  from {
    background-position: left bottom;
  }
  to {
    background-position: right bottom;
  }
}
.container-npc {
  display: grid;
  position: absolute;
  height: 75%;
  width: 50%;
  padding: 0.5rem;
  place-self: center;
}
.container-npc img {
  position: absolute;
  place-self: end end;
  width: 30%;
  aspect-ratio: 1/2;
  bottom: -5rem;
  right: -5rem;
}

.box-npc {
  display: grid;
  background-color: #02142c;
  color: white;
  box-shadow: 0 0 5px #01070f;
  overflow-y: scroll;
  max-height: 100%;
}
.box-npc::-webkit-scrollbar {
  width: 0.5rem;
}
.box-npc::-webkit-scrollbar-thumb {
  background-color: rgba(76, 88, 151, 0.5);
}
.box-npc::-webkit-scrollbar-thumb:hover {
  background-color: #4c5897;
}
.box-npc article {
  font-size: 1rem;
  padding: 1rem;
  padding-right: 15%;
}
.box-npc button {
  place-self: center;
}

.npc-item {
  display: flex;
  padding-inline: 1rem;
  align-items: center;
  justify-content: space-between;
}
.npc-item img {
  height: 1rem;
  width: 1rem;
}

.routes-list li {
  padding: 0.5rem;
}

.about-enemy-pokemons {
  display: grid;
  gap: 0.5rem;
}
.about-enemy-pokemons h3 {
  font-size: 1.5rem;
  place-self: center;
}
.about-enemy-pokemons img {
  width: 100%;
  max-width: 4rem;
  aspect-ratio: 1/1;
  place-self: end center;
}
.about-enemy-pokemons ul {
  display: grid;
  grid-template-columns: 1fr;
}
.about-enemy-pokemons li {
  display: grid;
  grid-template-columns: max-content 1fr;
}
.about-enemy-pokemons span {
  place-self: end;
  font-size: 2rem;
}
.about-enemy-pokemons div {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
}
.about-enemy-pokemons .button-primary {
  place-self: center;
}/*# sourceMappingURL=map.css.map */