//dynamic color
$primary-color: #303030;
$secondary-color: white;
$primary-bgc: #442952;
$new-light: #b4a5c6;

// specific colors
$lightest-indigo: #c5ceff;
$light-indigo: #7a84ba;
$pale-indigo: #4c5897;
$darker-indigo: #424e88;
$darkest-indigo: #364379;
$dark-violet: #24255a;

//sizes
$max-width: 80rem;
