//dynamic color
$primary-color: #303030;
$secondary-color: white;
$primary-bgc: #442952;
$new-light: #b4a5c6;

$bgc-home: rgb(240, 235, 225);

// specific colors
$lightest-indigo: #c5ceff;
$light-indigo: #7a84ba;
$pale-indigo: #4c5897;
$darker-indigo: #424e88;
$darkest-indigo: #364379;
$dark-violet: #24255a;

$blue-one: #02142c;
$light-blue: #0a224f;
$darker-blue: #01070f;
//sizes
$max-width: 80rem;

$normal-type: #b6b6a8;
$fire-type: #ff4422;
$water-type: #3399ff;
$electric-type: #ffcc33;
$grass-type: #77cc55;
$ice-type: #66ccff;
$fighting-type: #bb5544;
$poison-type: #aa5599;
$ground-type: #ddbb55;
$flying-type: #8899ff;
$psychic-type: #ff5599;
$bug-type: #aabb22;
$rock-type: #bbaa66;
$ghost-type: #6666bb;
$dragon-type: #7766ee;
$dark-type: #775544;
$steel-type: #aaaabb;
$fairy-type: #ee99ee;
