.container-market {
  display: flex;
  flex-direction: column;
}

.menu-market {
  display: grid;
  grid-template-columns: 1fr; /* Adjust columns as necessary */
  gap: 0.5rem;
  li {
    display: grid;
    grid-template-columns: 1fr min-content min-content 0.15fr;
    padding: 0.5rem;
  }
  div {
    grid-column: span 3;
    display: grid;
    grid-template-columns: subgrid;
    place-self: end end;
    gap: 0.5rem;
    span {
      place-self: center end;
    }
  }
}

.coins {
  place-self: end end;
}
