@import "../../assets/styles/addons/mixins";
//dynamic color
$primary-color: #303030;
$secondary-color: white;
$primary-bgc: #442952;
$new-light: #b4a5c6;

// specific colors
$lightest-indigo: #c5ceff;
$light-indigo: #7a84ba;
$pale-indigo: #4c5897;
$darker-indigo: #424e88;
$darkest-indigo: #364379;
$dark-violet: #24255a;

.container-profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content;
  margin: 0 auto;
  margin-top: 1rem;
  max-width: 80rem;
  .container-loader {
    grid-area: 1/2;
    place-self: center;
  }
  @media (width < 67rem) {
    grid-template-columns: 1fr;
    .profile-pokemons {
      grid-row: 3;
      grid-column: 1;
    }
  }
}

.section-profile {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr fit-content;
  width: fit-content;
  place-self: start start;
  position: relative;
  @media (width < 30rem) {
    grid-template-columns: 1fr;
    margin-bottom: 1rem;
  }
}

.profile-box {
  display: grid;
  grid-template-columns: min-content 1fr;
  img {
    filter: drop-shadow(0px 3px 3px #424242b9);
  }
}

.profile-info {
  display: grid;
  grid-template-columns: 1fr;
  place-self: end start;
  width: 15rem;
  background-color: darken($light-indigo, 20);
  background-color: #454573;
  padding: 0.5rem;
  border-radius: 0.35rem;
  box-shadow: 0 0 6px rgba($color: black, $alpha: 0.4);
  color: white;
}

.profile-pokemons {
  grid-area: 1/2;
  display: grid;
  grid-template-rows: min-content 1fr;
  width: 100%;
  max-height: 25rem;
  aspect-ratio: 4/3;
  background-color: rgba($dark-violet, 0.85);
  background-color: #454573;
  border-radius: 1rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: white;
  &::-webkit-scrollbar-track {
    margin: 0.75rem;
  }
}

.profile-nav {
  display: grid;
  background-color: $blue-one;
  place-items: center start;
  height: 2rem;
  padding-inline: 1rem;
  ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    cursor: pointer;
    li {
      display: flex;
    }
  }
  input[type="number"] {
    width: 3rem;
    border-radius: 2rem;
    padding-block: 0.15rem;
    padding-inline: 0.25rem;
  }
  select {
    display: flex;
    border-radius: 2rem;
    padding-block: 0.15rem;
    cursor: pointer;
    //appearance: none;
    &::selection {
      background-color: red;
    }
  }
}

.pokemon-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  row-gap: 1rem;
  column-gap: 0.5rem;
  overflow-x: hidden;
  padding: 1rem;
  padding-inline: 0.5rem;
  @include scroll-primary;
  @media (width < 67rem) {
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  }
  @media (width < 52rem) {
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  }
  @media (width < 35rem) {
    grid-template-columns: repeat(auto-fit, minmax(85%, 1fr));
  }
}

.pokemon-box {
  display: grid;
  grid-template-columns: min-content 1fr;
  width: fit-content;
  height: fit-content;
  position: relative;
  img {
    cursor: pointer;
    filter: drop-shadow(0px 3px 5px #131313);
    place-self: end end;
  }
  .li-buttons {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-start;
  }
  .types {
    display: flex;
  }
}

.profile-pokemon-info {
  display: grid;
  width: 90%;
  li {
    max-width: 90%;
  }
}

.profile-six {
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12%, 1fr));
  grid-template-columns: repeat(6, 1fr);
  width: fit-content;
  height: fit-content;
  gap: 0.5rem;
  background-color: rgba($dark-violet, 0.15);
  place-items: center start;
  place-self: start start;
  margin: 0.5rem;
  margin-left: 2rem;
  padding: 0.5rem;
  border-radius: 0.35rem;
  position: relative;
  transition: 0.5s;
}

.pokemon-from-six {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(darken($light-indigo, 20), 0.3);
  background-color: rgb(211, 69, 69);
  border: 1px solid black;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  transition: 0.2s;
  &::before {
    content: "";
    width: 100%;
    height: 50%;
    background-color: white;
    position: absolute;
    bottom: 0;
  }
  img {
    cursor: pointer;
    z-index: 1;
  }
  &:hover {
    scale: 1.25;
  }
}

.about-pokemon {
  display: none;
  width: 20rem;
  background-color: rgba($color: white, $alpha: 0.75);
  backdrop-filter: blur(4.4px);
  -webkit-backdrop-filter: blur(4.4px);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.527);
  border-radius: 0.35rem;
  padding: 1rem;
  position: absolute;
  top: 5rem;
  left: 4rem;
  transition: 0.5s;
  z-index: 2;
  &.active {
    display: flex;
    flex-direction: column;
    opacity: 1;
    translate: 0 0;
    @starting-style {
      opacity: 0;
      translate: 0 -4rem;
    }
    .close-article {
      position: absolute;
      background-color: rgb(244, 119, 119);
      place-self: end end;
      cursor: pointer;
    }
  }
}

.box-badges {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(2rem, 1fr));
}

.box-buttons {
  display: flex;
  gap: 0.5rem;
}

.button-primary.red {
  background-color: #f77067;
}

.sticker {
  display: grid;
  place-items: center center;
  position: absolute;
  place-self: start end;
  height: 1.25rem;
  width: 1.25rem;
  background-color: rgba(153, 248, 153, 0.589);
}

.full-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #454573;
  color: white;
  position: absolute;
  place-self: center;
  width: 35rem;
  height: 20rem;
  border-radius: 0.35rem;
  box-shadow: 0 3px 7px 0 rgb(0, 0, 0), 0 1px 2px 0 rgb(0, 0, 0);
  z-index: 1;
  padding: 1rem;
  transition: 0.5s;
  opacity: 1;
  translate: 0 0;
  .box-buttons {
    grid-column: span 2;
    display: flex;
    width: fit-content;
    place-self: center;
  }
  button {
    height: 2rem;
    place-self: end center;
  }
  @starting-style {
    opacity: 0;
    translate: 0 5rem;
  }
}

.about-attack {
  display: grid;
  position: absolute;
  background-color: rgba($dark-violet, 0.65);
  height: fit-content;
  width: 10rem;
  height: 5.5rem;
  translate: 0 1.5rem;
  transition: 0.5s;
  padding: 0.35rem;
  @include scroll-primary;
  overflow-y: auto;
  .attack-atributes {
    display: grid;
    grid-template-columns: 1fr;
    place-items: start;
    li {
      display: flex;
      justify-content: start;
    }
  }
  .attack-advantages {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.evolution {
  position: absolute;
  z-index: 1;
}

.evolving {
  opacity: 0.3;
  animation: evolving 1.2s infinite both;
}

@keyframes evolving {
  0%,
  50%,
  100% {
    opacity: 0.3;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.full-card-attacks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 60%;
  gap: 0.25rem;
  li {
    display: grid;
    width: 100%;
    place-items: center;
    font-weight: bold;
    text-wrap: balance;
    font-size: 0.8rem;
    padding-inline: 0.1rem;
    transition: 0.4s;
    cursor: pointer;
  }
  li:hover {
    filter: brightness(1.2);
  }
}

.close {
  position: absolute;
  place-self: start end;
  margin: 0.5rem;
  cursor: pointer;
  color: #d32424;
  filter: invert(25%) sepia(57%) saturate(3870%) hue-rotate(349deg)
    brightness(90%) contrast(104%);
}
