@import "../../assets/styles/addons/mixins";
//dynamic color
$primary-color: #303030;
$secondary-color: white;
$primary-bgc: #442952;
$new-light: #b4a5c6;

// specific colors
$lightest-indigo: #c5ceff;
$light-indigo: #7a84ba;
$pale-indigo: #4c5897;
$darker-indigo: #424e88;
$darkest-indigo: #364379;
$dark-violet: #24255a;

.container-profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: subgrid;
  margin: 0 auto;
  margin-top: 1rem;
  max-width: 80rem;
  .container-loader {
    grid-area: 1/2;
    place-self: center;
  }
}

.section-profile {
  grid-column: 1;
  display: grid;
  grid-template-columns: max-content 1fr;
  width: fit-content;
  img {
    place-self: end end;
    filter: drop-shadow(0px 3px 3px #424242b9);
  }
}

.profile-info {
  display: grid;
  grid-template-columns: 1fr;
  place-self: end start;
  width: 15rem;
  background-color: darken($light-indigo, 20);
  padding: 0.5rem;
  border-radius: 0.35rem;
  box-shadow: 0 0 6px rgba($color: black, $alpha: 0.4);
  color: white;
}

.profile-pokemons {
  grid-area: 1/2;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  background-color: rgba($lightest-indigo, 0.5);
  background-color: rgba($dark-violet, 0.85);
  border-radius: 1rem;
  margin-top: 1rem;
  padding: 1rem;
  @include scroll-primary;
  color: white;
  &::-webkit-scrollbar-track {
    margin: 0.75rem;
  }
}

.pokemon-box {
  display: grid;
  grid-template-columns: 1fr;
  width: fit-content;
  position: relative;
  img {
    cursor: pointer;
    filter: drop-shadow(0px 3px 5px #131313);
  }
}

.profile-six {
  grid-column: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16%, 1fr));
  width: 16rem;
  height: fit-content;
  background-color: rgba(darken($light-indigo, 20), 0.2);
  background-color: rgba($dark-violet, 0.15);
  place-items: center center;
  margin: 0.5rem;
  margin-left: 2rem;
  padding: 0.5rem;
  border-radius: 0.35rem;
  position: relative;
  transition: 0.5s;
}

.pokemon-from-six {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(darken($light-indigo, 20), 0.3);
  background-color: rgb(211, 69, 69);
  border: 1px solid black;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  transition: 0.2s;
  &::before {
    content: "";
    width: 100%;
    height: 50%;
    background-color: white;
    position: absolute;
    bottom: 0;
  }
  img {
    cursor: pointer;
    z-index: 1;
  }
  &:hover {
    scale: 1.25;
  }
}

.about-pokemon {
  display: none;
  width: 20rem;
  background-color: rgba($color: white, $alpha: 0.75);
  backdrop-filter: blur(4.4px);
  -webkit-backdrop-filter: blur(4.4px);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.527);
  border-radius: 0.35rem;
  padding: 1rem;
  position: absolute;
  top: 5rem;
  left: 4rem;
  transition: 0.5s;
  &.active {
    display: flex;
    flex-direction: column;
    opacity: 1;
    translate: 0 0;
    @starting-style {
      opacity: 0;
      translate: 0 -4rem;
    }
  }
}

.box-badges {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(2rem, 1fr));
}

.box-buttons {
  display: flex;
  gap: 0.5rem;
}

.button-primary.red {
  background-color: #f77067;
}

.sticker {
  display: grid;
  place-items: center center;
  position: absolute;
  place-self: start end;
  height: 1.5rem;
  width: 1.5rem;
  background-color: rgba(153, 248, 153, 0.589);
}
