@import "./addons/variables", "./addons/mixins";

$border-size: 4px;
$border-origin: $border-size solid black;
$border-primary: $border-size solid rgb(14, 14, 14);
$bg-battle: darken($dark-violet, 0);
$bg-battle-secondary: $pale-indigo;

.container-battlefield {
  display: grid;
  //grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "enemy-pokemon"
    "user-pokemon"
    "menu";
  grid-template-rows: 1fr 1fr auto;
  border: $border-primary;
  position: relative;
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 0.35rem;
  box-shadow: 0 0 6px $darker-blue;
  overflow: hidden;
}

.user-battle {
  grid-area: menu;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  height: 10rem;
  width: 100%;
  border-top: $border-primary;
  background-color: $bg-battle;
  box-shadow: 0 0 8px $darker-blue;
  //position: relative;
}

.user-battle-menu {
  grid-column: 2;
  display: flex;
  width: 100%;
  height: 100%;
  place-self: center end;
  border-left: $border-primary;
  position: relative;
  box-shadow: 0 0 4px $darker-blue;
  ul {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    place-self: end end;
    background-color: $new-light;
    background-color: $light-indigo;
    background-color: $bg-battle;
    color: white;
  }
  li {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    font-size: 1.25rem;
    //font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    &:hover {
      background-color: lighten($color: $bg-battle, $amount: 10);
    }
    &:hover span::before {
      opacity: 1;
    }
  }
  span {
    display: flex;
    position: relative;

    &::before {
      content: "";
      display: flex;
      position: absolute;
      left: -1.25rem;
      top: 0.5rem;
      height: 1rem;
      width: 1rem;
      background-color: #303030;
      clip-path: polygon(50% 0%, 100% 50%, 50% 100%);
      opacity: 0;
      transition: 0.3s;
    }
  }
}

.user-pokemon {
  grid-area: user-pokemon;
  display: grid;
  grid-template-areas: "user-pokemon user-pokemon-stats";
  place-items: end;
  img {
    grid-area: user-pokemon;
    place-self: start start;
    margin-left: 5rem;
    @include battle-startup;
  }
  .box-bar {
    display: flex;
    flex-direction: column;
    place-self: center end;
    padding: 0.5rem;
    border: $border-primary;
    border-radius: 1rem;
    margin-right: 2rem;
    @include battle-startup;
    @starting-style {
      translate: 10rem 0;
    }
  }
  span {
    font-weight: bold;
  }
}

.enemy-pokemon {
  grid-area: enemy-pokemon;
  display: grid;
  grid-template-areas: "enemy-stats enemy-pokemon";
  place-self: end end;
  width: 100%;
  height: 100%;
  overflow: hidden;
  &.done {
    img {
      transition: 1s;
      translate: 11rem;
    }
    .enemy-pokemon-info {
      transition: 1s;
      translate: -15rem;
    }
  }
  &.catching {
    img {
      opacity: 0;
    }
    /*.pokeball {
      position: absolute;
      place-self: end end;
      right: 4rem;
      opacity: 1;
      //animation: bounce 2s ease 0s infinite normal forwards;
      animation: zoomInDown 3s ease-in-out forwards,
        rubberBand 1s ease-in-out 3s forwards;
    }*/
  }
  &.catched {
    img {
      display: none;
    }
    .pokeball {
      display: flex;
      opacity: 1;
    }
  }
  .enemy-pokemon-info {
    grid-area: enemy-stats;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    padding: 0.5rem;
    margin: 1rem;
    border: $border-primary;
    border-radius: 1rem;
    transition: 0.5s;
    opacity: 1;
    translate: 0 0;
    filter: brightness(1);
    @starting-style {
      opacity: 0;
      translate: -10rem 0;
      filter: brightness(0.8);
    }
    span {
      font-weight: bold;
    }
    .bar {
      margin-left: 2rem;
    }
  }
  img {
    place-self: end;
    margin-right: 2rem;
    opacity: 1;
    translate: 0 0;
    transition: 0.5s, filter 0.5s 0.3s;
    filter: brightness(1);
    @starting-style {
      opacity: 0;
      translate: 10rem 0;
      filter: brightness(0.2);
    }
  }
}
.box-attacks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  width: 100%;
  gap: 0.25rem;
  background-color: rgb(255, 239, 205);
  background-color: $bg-battle;
  transition: 0.3s;
  opacity: 1;
  translate: 0 0;
  position: relative;
  @starting-style {
    opacity: 0;
    translate: 10rem 0;
  }
}

.attack-item {
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    background-color: lighten($color: $bg-battle, $amount: 10);
  }
}

.switch-box {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  border: $border-primary;
  height: 75%;
  width: 34%;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-inline: 1rem;
  background-color: $bg-battle-secondary;
  color: white;
  z-index: 1;
  transition: 0.3s;
  opacity: 1;
  translate: 0 0;
  @starting-style {
    opacity: 0;
    translate: 0 10rem;
  }
}

.switch-box-item {
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  div {
    .bar {
      height: 0.5rem;
      padding: 0.1rem;
    }
    .hp-bar {
      height: 0.25rem;
    }
  }
}

.switch-info {
  display: flex;
  background-color: #303030;
}

.close-icon {
  background-color: rgb(252, 78, 78);
  position: absolute;
  right: 0;
  cursor: pointer;
}

.battle-bag {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  border: $border-primary;
  border-radius: 0.5rem 0.5rem 0 0;
  height: 75%;
  width: 34%;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: $bg-battle-secondary;
  background-color: #fbfcc2;
  z-index: 1;
  transition: 0.3s;
  opacity: 1;
  translate: 0 0;
  @starting-style {
    opacity: 0;
    translate: 0 10rem;
  }
  h2 {
    place-self: start center;
  }
  ul {
    display: flex;
    flex-direction: column;
    margin-top: 0.2rem;
    gap: 0.5rem;
  }
  .button-primary {
    background-color: darken(#f3c564, 20);
    &:hover {
      background-color: #f3c564;
    }
  }
}

.bag-item {
  color: white;
  color: #303030;
  border-bottom: 2px dashed #f3c564;
  &:hover {
    background-color: lighten(#f3c564, 10);
  }
}

.battle-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  background-color: $bg-battle;
  color: white;
  transition: 0.3s;
  opacity: 1;
  translate: 0 0;
  @starting-style {
    opacity: 0;
    translate: 10rem 0;
  }
  div {
    display: flex;
    gap: 0.5rem;
  }
}

.hp-animation {
  display: flex;
  color: red;
  font-size: 1rem;
  font-weight: bold;
  translate: 0 5rem;
  opacity: 1;
  transition: 1s;
  transition-timing-function: linear;
  animation: go-out 1s linear 0s forwards;
  position: absolute;
  right: 12%;
  @starting-style {
    translate: 0 10rem;
    opacity: 0;
  }
}

@keyframes go-out {
  from {
    translate: 0 5rem;
    opacity: 1;
  }
  to {
    translate: 0 1rem;
    opacity: 0;
  }
}

@keyframes bounce {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(-45px);
  }

  24% {
    opacity: 1;
  }

  40% {
    animation-timing-function: ease-in;
    transform: translateY(-24px);
  }

  65% {
    animation-timing-function: ease-in;
    transform: translateY(-12px);
  }

  82% {
    animation-timing-function: ease-in;
    transform: translateY(-6px);
  }

  93% {
    animation-timing-function: ease-in;
    transform: translateY(-4px);
  }

  25%,
  55%,
  75%,
  87% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }

  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0px);
  }
}

.zoomInDown {
  animation-name: zoomInDown;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes zoomInDown2 {
  0% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
@keyframes zoomInDown {
  0% {
    opacity: 0;
    transform: scale3d(0.2, 0.24, 0) translate3d(-2500px, 1000px, 0px);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  75% {
    opacity: 1;
    transform: scale3d(0.5, 0.25, 0.1) translate3d(-100px, -100px, 0px);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

.bounceOut {
  animation-name: bounceOut;
  animation-duration: 0.75s;
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes bounceOut {
  20% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  50%,
  55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }
  100% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

.rubberBand {
  animation-name: rubberBand;
  animation-duration: 1s;
  animation-fill-mode: both;
}
@keyframes rubberBand {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
.new-level {
  background-color: white;
  border-left: $border-primary;
  border-top: $border-primary;
  width: 25%;
  aspect-ratio: 7/8;
  position: absolute;
  top: 6rem;
  right: 0;
}

.countdown {
  display: grid;
  place-items: center center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba($light-indigo, $alpha: 0.95);
  span {
    display: flex;
    color: white;
  }
}
