.container-battlefield {
  display: grid;
  grid-template-areas: "enemy-pokemon" "user-pokemon" "menu";
  grid-template-rows: 1fr 1fr auto;
  border: 4px solid rgb(14, 14, 14);
  position: relative;
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 0.35rem;
  box-shadow: 0 0 6px #01070f;
  overflow: hidden;
  color: #303030;
}

.user-battle {
  grid-area: menu;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  height: 8rem;
  width: 100%;
  border-top: 4px solid rgb(14, 14, 14);
  background-color: #7576b3;
  background-color: #f8f8f6;
  box-shadow: 0 0 8px #01070f;
}

.user-battle-menu {
  grid-column: 2;
  display: flex;
  width: 100%;
  height: 100%;
  place-self: center end;
  border-left: 4px solid rgb(14, 14, 14);
  position: relative;
  box-shadow: 0 0 4px #01070f;
}
.user-battle-menu ul {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 0.1rem;
  place-items: center;
  place-self: end end;
  background-color: #b4a5c6;
  background-color: #7a84ba;
  background-color: #7576b3;
  color: white;
  color: white;
}
.user-battle-menu li {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  font-size: 1.25rem;
  cursor: pointer;
  transition: 0.3s;
}
.user-battle-menu li:hover {
  background-color: #9697c5;
}
.user-battle-menu li:hover span::before {
  opacity: 1;
}
.user-battle-menu span {
  display: flex;
  position: relative;
}
.user-battle-menu span::before {
  content: "";
  display: flex;
  position: absolute;
  left: -1.25rem;
  top: 0.5rem;
  height: 1rem;
  width: 1rem;
  background-color: #303030;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%);
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%);
  opacity: 0;
  transition: 0.3s;
}
.user-battle-menu button {
  box-shadow: 0px 2px 4px 0px rgba(58, 58, 58, 0.24);
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.13), 0 1px 2px 0 rgba(0, 0, 0, 0.11);
  border: none;
  background-color: #7576b3;
  transition: 0.4s;
  width: 100%;
  height: 100%;
  color: whitesmoke;
  font-size: 1.25rem;
}
.user-battle-menu button:hover {
  background-color: #57589e;
  box-shadow: inset 1px 1px 1px grey;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15) inset;
}

.user-pokemon {
  grid-area: user-pokemon;
  display: grid;
  grid-template-areas: "user-pokemon user-pokemon-stats";
  place-items: end;
}
.user-pokemon .user-image {
  grid-area: user-pokemon;
  place-self: start start;
  margin-left: 5rem;
  transition: 0.5s;
  opacity: 1;
  translate: 0 0;
  filter: brightness(1);
}
@starting-style {
  .user-pokemon .user-image {
    opacity: 0;
    translate: -10rem 0;
    filter: brightness(0.2);
  }
}
.user-pokemon .box-bar {
  display: flex;
  flex-direction: column;
  place-self: center end;
  padding: 0.5rem;
  border: 4px solid rgb(14, 14, 14);
  border-radius: 1rem;
  margin-right: 2rem;
  transition: 0.5s;
  opacity: 1;
  translate: 0 0;
  filter: brightness(1);
}
@starting-style {
  .user-pokemon .box-bar {
    opacity: 0;
    translate: -10rem 0;
    filter: brightness(0.2);
  }
}
@starting-style {
  .user-pokemon .box-bar {
    translate: 10rem 0;
  }
}
.user-pokemon span {
  font-weight: bold;
}
.user-pokemon .pokemons-bar {
  grid-column: 2;
  grid-area: user-pokemon-stats;
  place-self: center center;
  border-right: 2px solid gray;
}
.user-pokemon .box-stats {
  grid-column: 2;
  place-self: center center;
  display: flex;
  flex-direction: column;
}

.oponent {
  grid-area: enemy-pokemon;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}
.oponent .oponent-image {
  position: absolute;
  grid-column: 2;
  place-self: start end;
  right: 6rem;
  height: auto;
}
.oponent .attack-animation {
  grid-column: 2;
  position: absolute;
  place-self: end;
  right: 8rem;
  top: 2rem;
  z-index: 1;
}
.oponent .pokemons-bar {
  grid-column: 1;
  grid-auto-columns: reverse;
  place-self: start center;
  direction: rtl;
  margin-top: 2rem;
  border-left: 2px solid gray;
}

.opponent-attack {
  position: absolute;
  place-self: end start;
  left: 12%;
  z-index: 1;
}

.oponent-pokemon {
  position: absolute;
  grid-column: 2;
  place-self: end end;
  right: 5rem;
}

.box-stats {
  grid-column: 1;
  grid-row: 1;
  place-self: start center;
  display: grid;
  flex-direction: column;
  position: relative;
  margin-top: 2rem;
  padding: 0.25rem;
  background-color: #f8f8d8;
  max-width: 12rem;
  font-weight: bold;
  border-radius: 0.5rem 0.2rem 0.5rem 0.2rem;
  border: 3px solid #303030;
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.3), 0 4px 3px rgba(0, 0, 0, 0.22);
  /*.bar-wrapper:has(.exp-bar) {
    place-self: end end;
    position: absolute;
    bottom: -0.75rem;
    right: 0.5rem;
    border-radius: 0;
    z-index: 1;
    width: 90%;
  }*/
}

.name-level {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.box-bars {
  place-self: end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.1rem;
}

.bar-wrapper {
  place-self: end;
  display: flex;
  align-items: center;
  color: #f8f8d8;
  font-weight: bold;
  font-size: 0.6rem;
  text-shadow: 0 0 2px #f3c564;
  background-color: #303030;
  width: 80%;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 0.5rem;
  padding-left: 0.25rem;
}
.bar-wrapper .bar {
  height: -moz-fit-content;
  height: fit-content;
  padding-block: 0rem;
  padding-right: 0.1rem;
}
.bar-wrapper .hp-bar {
  padding: 0;
  height: 0.3rem;
  border-radius: 0 0.3rem 0.3rem 0;
}
.bar-wrapper .energy-bar {
  padding: 0;
  height: 0.3rem;
  border-radius: 0 0.3rem 0.3rem 0;
}

.pokemons-bar {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(13%, 1fr));
  place-items: center;
  width: 15rem;
  height: 2rem;
  gap: 0.5rem;
  background-color: rgba(243, 219, 168, 0.337254902);
  padding: 0.35rem;
  border-bottom: 2px solid gray;
}
.pokemons-bar .done {
  filter: brightness(0.5);
}

.oponent {
  /*img {
    place-self: end;
    margin-right: 2rem;
    opacity: 1;
    translate: 0 0;
    transition: 0.5s, filter 0.5s 0.3s;
    filter: brightness(1);
    @starting-style {
      opacity: 0;
      translate: 10rem 0;
      filter: brightness(0.2);
    }
  }*/
}
.oponent.done img {
  transition: 1s;
  translate: 14rem;
}
.oponent.catching img {
  opacity: 0;
}
.oponent.catched img {
  display: none;
}
.oponent.catched .pokeball {
  display: flex;
  opacity: 1;
}

.box-attacks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 100%;
  width: 100%;
  gap: 0.25rem;
  background-color: rgb(255, 239, 205);
  background-color: #7576b3;
  transition: 0.3s;
  opacity: 1;
  translate: 0 0;
  position: relative;
}
@starting-style {
  .box-attacks {
    opacity: 0;
    translate: 10rem 0;
  }
}

.attack-item {
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}
.attack-item:hover {
  background-color: #9697c5;
}
.attack-item.addons {
  grid-row: 3;
}
.attack-item button {
  box-shadow: 0px 2px 4px 0px rgba(58, 58, 58, 0.24);
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.13), 0 1px 2px 0 rgba(0, 0, 0, 0.11);
  border: none;
  background-color: #7576b3;
  transition: 0.4s;
  width: 100%;
  height: 100%;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}
.attack-item button:hover {
  background-color: #57589e;
  box-shadow: inset 1px 1px 1px grey;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15) inset;
}
.attack-item button:disabled {
  color: rgba(255, 255, 255, 0.514);
  box-shadow: 0 0 0 transparent;
}

.switch-box {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  border: 4px solid rgb(14, 14, 14);
  height: 75%;
  width: 34%;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-inline: 1rem;
  background-color: #4c5897;
  color: white;
  z-index: 1;
  transition: 0.3s;
  opacity: 1;
  translate: 0 0;
}
@starting-style {
  .switch-box {
    opacity: 0;
    translate: 0 10rem;
  }
}

.switch-box-item {
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}
.switch-box-item div .bar {
  height: 0.5rem;
  padding: 0.1rem;
}
.switch-box-item div .hp-bar {
  height: 0.25rem;
}

.switch-info {
  display: flex;
  background-color: #303030;
}

.close-icon {
  background-color: rgb(252, 78, 78);
  position: absolute;
  right: 0;
  cursor: pointer;
}

.battle-bag {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  border: 4px solid rgb(14, 14, 14);
  border-radius: 0.5rem 0.5rem 0 0;
  height: 75%;
  width: 34%;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #4c5897;
  background-color: #fbfcc2;
  z-index: 1;
  transition: 0.3s;
  opacity: 1;
  translate: 0 0;
}
@starting-style {
  .battle-bag {
    opacity: 0;
    translate: 0 10rem;
  }
}
.battle-bag h2 {
  place-self: start center;
}
.battle-bag ul {
  display: flex;
  flex-direction: column;
  margin-top: 0.2rem;
  gap: 0.5rem;
}
.battle-bag li {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.25rem;
  font-weight: bold;
}
.battle-bag .button-primary {
  grid-column: 2;
  place-self: end;
  background-color: #e09d11;
  padding-inline: 0.5rem;
  padding-block: 0.1rem;
}
.battle-bag .button-primary:hover {
  background-color: #f3c564;
}

.battle-bag-item {
  color: white;
  color: #303030;
  border-bottom: 2px dashed #f3c564;
}
.battle-bag-item:hover {
  background-color: #f7d793;
}

.battle-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  background-color: #7576b3;
  color: white;
  color: white;
  transition: 0.3s;
  opacity: 1;
  translate: 0 0;
}
@starting-style {
  .battle-text {
    opacity: 0;
    translate: 10rem 0;
  }
}
.battle-text div {
  display: flex;
  gap: 0.5rem;
}

.hp-animation {
  display: flex;
  color: red;
  font-size: 1rem;
  font-weight: bold;
  translate: 0 5rem;
  opacity: 1;
  transition: 1s;
  transition-timing-function: linear;
  animation: go-out 1s linear 0s forwards;
  position: absolute;
  right: 12%;
}
@starting-style {
  .hp-animation {
    translate: 0 10rem;
    opacity: 0;
  }
}

@keyframes go-out {
  from {
    translate: 0 5rem;
    opacity: 1;
  }
  to {
    translate: 0 1rem;
    opacity: 0;
  }
}
@keyframes bounce {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(-45px);
  }
  24% {
    opacity: 1;
  }
  40% {
    animation-timing-function: ease-in;
    transform: translateY(-24px);
  }
  65% {
    animation-timing-function: ease-in;
    transform: translateY(-12px);
  }
  82% {
    animation-timing-function: ease-in;
    transform: translateY(-6px);
  }
  93% {
    animation-timing-function: ease-in;
    transform: translateY(-4px);
  }
  25%, 55%, 75%, 87% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }
  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0px);
  }
}
.zoomInDown {
  animation-name: zoomInDown;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes zoomInDown2 {
  0% {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
@keyframes zoomInDown {
  0% {
    opacity: 0;
    transform: scale3d(0.2, 0.24, 0) translate3d(-2500px, 1000px, 0px);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  75% {
    opacity: 1;
    transform: scale3d(0.5, 0.25, 0.1) translate3d(-100px, -100px, 0px);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
.bounceOut {
  animation-name: bounceOut;
  animation-duration: 0.75s;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes bounceOut {
  20% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  50%, 55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }
  100% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
}
.rubberBand {
  animation-name: rubberBand;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes rubberBand {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
.new-level {
  display: grid;
  background-color: #9697c5;
  color: white;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  border-radius: 0.35rem 0.35rem 0 0;
  border-top: 2px solid #303030;
  border-left: 2px solid #303030;
  width: 25%;
  aspect-ratio: 7/8;
  position: absolute;
  place-self: start end;
  bottom: 8rem;
}
.new-level ul {
  padding: 0.5rem;
}

.countdown {
  display: grid;
  place-items: center center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(122, 132, 186, 0.95);
}
.countdown span {
  display: flex;
  color: white;
  color: white;
}

.user-pokemon-attack {
  grid-column: 2;
  position: absolute;
  place-self: end center;
  translate: 2rem 0rem;
  z-index: 1;
}
@starting-style {
  .user-pokemon-attack {
    translate: 0 0;
  }
}

.enemy-attack {
  position: absolute;
  place-self: center start;
  margin-left: 6rem;
  z-index: 1;
}
@starting-style {
  .enemy-attack {
    translate: 1rem 0;
  }
}/*# sourceMappingURL=battle-style.css.map */