@import "./addons/variables", "./addons/mixins";

.button-primary {
  width: fit-content;
  padding: 0.25rem;
  padding-inline: 0.5rem;
  background-color: #5a5a5a;
  background-color: $light-indigo;
  border: none;
  border-radius: 0.15rem;
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  transition: 0.35s;
  cursor: pointer;
  &:hover {
    background-color: #101010;
    background-color: $darkest-indigo;
  }
}
